:root {
  --font-body: var(--font-sans);
  --font-heading: var(--font-serif);
  --font-accent: var(--font-script);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
}

/* Services Component Mobile: */

.services-section {
  padding: 70px 24px;
  background-color: #15342b;
  text-align: center;
}

.services-title {
  color: #fffcf3;
  font-family: var(--font-serif);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  padding-bottom: 30px;
}

.service-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.service-card {
  border-radius: 30px;
  background: #f6f2e5;
  padding: 47.5px 50px;
}

.service-title {
  padding: 35px 0 10px 0;
  color: #15342b;
  text-align: center;
  font-family: var(--font-serif);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
}

.service-desc {
  color: #15342b;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* Services Component Desktop */
@media (min-width: 48rem) {
  .services-section {
    padding: 70px 105px;
  }

  .services-title {
    padding-bottom: 30px;
  }

  .service-title {
    padding-bottom: 10px;
  }

  .service-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* CTA MOBILE: */
.cta-sec {
  background: #fffcf3;
  padding: 70px 35px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.cta-title {
  color: #15342b;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  font-family: var(--font-serif);
  padding-bottom: 20px;
}

.cta-desc {
  color: #383b21;
  text-align: center;
  font-family: var(--font-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-bottom: 30px;
}

.cta-btn {
  border-radius: 10px;
  background: #d3904b;
  padding: 20px 30px;
  color: #fef8ef;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 27px;
}

.cta-icon {
  width: 183px;
  height: 210px;
  position: absolute;
  right: -29.992px;
  bottom: -57.475px;
}

/* CTA DESKTOP: */
@media (min-width: 48rem) {
  .cta-sec {
    padding: 90px 470px;
  }

  .cta-title {
    font-size: 42px;
    letter-spacing: -0.84px;
    padding-bottom: 10px;
  }

  .cta-desc {
    color: #383b21;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-bottom: 30px;
  }

  .cta-btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-family: var(--font-sans);
  }

  .cta-icon {
    width: 233.805px;
    height: 255.736px;
    transform: rotate(-2.177deg);
    position: absolute;
    left: 1013.705px;
    top: 244.765px;
  }
}

/* Learn More Component Mobile: */

/* Learn More Component Desktop */
