---

---

<section class="cta-sec">
  <h3 class="cta-title">Get in Touch</h3>
  <p class="cta-de">
    Ready to get started on your brand design? Have questions about which
    package would be the right fit for you? Send me a note! I can't wait to hear
    from you!
  </p>
  <button class="btn cta-btn">Get in touch</button>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="302"
    height="184"
    viewBox="0 0 302 184"
    fill="none"
    class="cta-icon"
  >
    <path
      d="M148.662 127.178C139.991 130.807 131.057 124.173 129.266 116.06C126.994 105.72 135.982 95.0234 144.37 95.6658C147.068 95.8709 149.766 95.8549 152.16 97.6055C153.789 98.7887 154.719 99.9942 152.974 101.93C152.401 102.568 152.007 103.325 152.401 104.285C152.756 105.149 153.419 105.152 154.165 105.101C158.356 104.834 159.541 106.081 159.506 110.667C159.44 118.771 155.564 124.66 148.652 127.182L148.662 127.178ZM147.075 119.346C147.175 119.31 147.52 119.208 147.826 119.011C148.551 118.551 149.748 118.31 149.534 117.137C149.281 115.758 148.118 116.416 147.329 116.471C145.913 116.57 145.034 115.8 144.397 114.5C142.753 111.14 143.364 109.213 146.545 107.807C147.346 107.453 148.311 107.248 148.273 105.962C148.245 104.894 147.527 104.555 146.715 104.312C144.013 103.495 140.232 104.85 138.664 107.237C136.573 110.427 136.616 113.673 138.781 116.929C140.359 119.283 144.051 120.425 147.082 119.331L147.075 119.346Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M188.466 95.8804C189.581 99.6542 190.726 103.417 191.811 107.202C192.74 110.455 192.169 111.436 188.866 112.543C185.423 113.701 184.831 113.414 183.847 109.899C183.488 108.608 183.328 107.244 182.948 105.96C182.32 103.836 181.095 102.713 178.964 103.454C178.884 103.483 178.794 103.516 178.715 103.545C172.651 105.316 172.47 105.676 174.499 112.243C175.88 116.729 174.016 119.457 169.646 119.383C168.417 119.366 167.683 118.677 167.324 117.46C164.838 109.086 162.366 100.719 159.88 92.3448C159.131 89.8105 160.571 88.8194 162.341 88.0879C164.21 87.32 166.179 86.6263 167.362 89.1739C168.2 90.9646 168.789 92.9198 169.318 94.86C169.978 97.2797 171.229 97.7796 173.291 96.9537C180.161 94.2144 179.769 95.4243 177.405 87.9864C176.093 83.8432 178.748 80.5082 182.724 81.1543C184.139 81.386 184.508 82.5629 184.872 83.7545C186.089 87.7978 187.266 91.8556 188.472 95.9025L188.466 95.8804Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M83.9373 134.017C82.796 130.154 81.6314 126.288 80.51 122.418C79.6633 119.478 80.2258 118.096 82.5999 117.169C85.4788 116.045 86.8026 116.604 87.8253 119.468C88.3661 120.999 88.7807 122.589 89.2518 124.146C89.8735 126.175 91.1307 126.807 92.9499 126.205C93.2786 126.085 93.6105 125.976 93.9524 125.864C97.9032 124.471 99.1946 121.573 97.8267 117.168C96.6061 113.224 97.049 111.922 100.034 110.821C102.946 109.734 103.928 110.222 104.926 113.523C107.252 121.245 109.525 128.973 111.781 136.72C112.709 139.9 112.273 140.402 108.614 141.872C106.206 142.836 104.96 141.905 104.367 139.339C104.234 138.774 104 138.246 103.897 137.671C102.673 131.215 99.9432 131.537 94.6739 134.354C93.3117 135.084 92.9711 136.508 93.3824 138.086C93.7414 139.488 94.1967 140.842 94.6055 142.225C95.727 146.095 95.4863 146.588 91.9703 147.87C88.9722 148.964 88.2942 148.574 87.2278 145.04C86.1188 141.362 85.053 137.68 83.9639 133.995L83.9373 134.017Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M92.1907 184.435C91.0232 180.484 89.9022 176.504 88.665 172.578C87.8566 169.992 89.1168 169.066 91.0256 168.431C92.9543 167.789 94.9781 166.609 96.0062 169.79C96.5071 171.335 96.8288 172.947 97.2899 174.507C97.9702 176.809 99.4246 177.848 101.53 177.092C106.808 175.203 108.82 176.075 106.113 167.549C104.925 163.789 105.379 163.048 108.732 161.922C111.594 160.964 112.427 161.396 113.405 164.631C115.646 172.065 117.85 179.524 120.031 186.979C120.98 190.189 120.49 191.63 118.395 192.419C114.673 193.826 113.829 193.435 112.604 189.738C112.578 189.649 112.549 189.55 112.522 189.461C110.326 182.551 110.065 182.413 103.835 184.858C102.016 185.57 101.082 186.818 101.783 189.076C102.238 190.541 102.6 192.027 103.044 193.495C103.914 196.439 103.419 197.711 100.971 198.69C97.8433 199.941 96.8269 199.601 95.8348 196.542C94.5382 192.528 93.421 188.449 92.2273 184.409L92.2074 184.416L92.1907 184.435Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M194.648 130.63C197.019 129.728 199.773 129.189 202.723 129.989C204.465 130.469 205.963 130.683 205.657 133.344C205.268 136.809 204.351 138.185 201.944 138.254C201.344 138.277 200.728 138.134 200.125 138.035C198.617 137.788 197.164 138.098 195.736 138.57C194.923 138.842 193.851 139.208 193.893 140.321C193.944 141.504 195.098 141.561 195.912 141.742C197.648 142.126 199.389 141.932 201.118 141.621C206.791 140.581 210.526 143.288 212.107 149.271C212.903 152.303 211.856 154.733 210.339 156.806C207.048 161.317 197.727 163.528 192.826 161.504C190.313 160.471 189.993 158.601 190.636 156.221C191.245 153.952 192.265 152.586 194.87 153.524C196.833 154.23 199.036 153.806 201.087 153.316C202.424 152.987 203.43 151.946 203.068 150.423C202.716 148.97 201.345 149.298 200.373 149.629C197.607 150.539 194.811 150.039 192.04 149.959C189.067 149.867 186.495 147.213 185.699 143.96C184.698 139.899 186.118 135.556 189.23 133.207C190.763 132.047 192.487 131.345 194.638 130.633L194.648 130.63Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M211.775 45.2523C211.778 48.5123 211.757 52.0999 211.809 55.6732C211.825 56.55 211.227 57.8473 212.375 58.2251C213.574 58.6216 214.198 57.5233 214.799 56.4949C215.784 54.787 216.865 53.1421 217.946 51.4973C219.263 49.4964 220.635 50.4057 222.017 51.4587C223.402 52.5228 224.173 53.7128 223.018 55.5562C219.541 61.1157 216.091 66.6901 212.637 72.2534C211.813 73.5717 210.601 73.8787 209.4 73.287C207.581 72.3939 206.052 70.9165 205.992 68.5477C205.923 65.8509 205.457 63.1522 205.865 60.4285C205.991 59.5856 205.959 58.6903 205.879 57.8243C205.803 57.043 205.488 56.2752 204.773 55.9843C203.882 55.6226 203.554 56.5271 203.167 57.1219C202.153 58.6934 201.086 60.2351 200.21 61.9031C199.335 63.571 198.224 64.479 196.593 63.5536C194.81 62.5612 193.448 60.8636 194.664 58.6301C197.914 52.6753 201.488 46.9211 205.398 41.4853C206.915 39.3748 210.825 41.5898 211.798 45.2193L211.775 45.2523Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M240.259 115.924C245.077 114.938 249.7 112.884 254.424 111.21C257.468 110.123 258.553 110.733 259.458 114.167C260.215 117.029 260.886 119.935 261.408 122.859C262.837 130.981 254.968 134.82 250.074 132.67C247.919 131.728 246.587 132.483 245.488 134.478C244.596 136.091 243.838 138.268 241.592 137.015C240.144 136.219 239.681 131.668 240.712 130.078C241.469 128.907 242.296 127.784 243.093 126.635C243.72 125.732 244.575 124.893 243.702 123.581C242.895 122.379 241.905 122.765 240.867 123.058C237.919 123.876 236.185 122.412 236.373 119.242C236.523 116.575 238.714 116.782 240.276 115.905L240.259 115.924Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M144.668 39.1586C147.163 47.4923 143.678 54.4036 135.992 56.288C133.616 56.8728 131.23 57.3876 128.828 57.8103C127.362 58.0755 126.446 57.5516 126.119 55.6234C125.056 49.4518 123.821 43.331 122.613 37.1881C122.239 35.2892 122.393 33.3451 124.149 32.7903C128.219 31.514 132.29 29.8694 136.665 30.9337C140.788 31.9305 143.372 34.7761 144.678 39.155L144.668 39.1586ZM138.195 41.1154C138.113 40.9124 137.913 40.2741 137.601 39.7016C136.406 37.4892 134.191 36.8629 131.637 38.0031C129.286 39.0448 130.063 41.0047 130.473 42.878C130.776 44.2756 130.976 45.6984 131.249 47.1069C131.7 49.4188 133.076 50.3023 135.078 49.572C138.494 48.3256 139.529 45.7781 138.182 41.1079L138.195 41.1154Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M39.5149 148.028C39.7906 149.522 40.1385 151.221 39.5844 152.968C39.2822 153.925 39.3214 154.879 39.7254 155.798C39.9981 156.422 40.2838 157.09 40.9966 157.075C41.6895 157.068 42.0732 156.462 42.3178 155.833C43.0348 153.965 42.8105 152.049 42.4934 150.117C42.0958 147.614 43.1824 146.176 45.5836 145.937C47.5569 145.744 48.7154 147.014 48.6386 149.592C48.5848 151.426 48.173 153.243 48.7955 155.051C49.0413 155.771 49.2563 156.686 50.0952 156.649C50.9805 156.621 51.0473 155.689 51.1863 154.927C51.5998 152.704 51.4495 150.516 51.1535 148.282C50.7837 145.462 51.9164 144.105 54.4991 144.07C56.8828 144.034 57.2939 145.686 57.3047 147.926C57.321 152.088 57.4566 156.244 57.6486 160.404C57.758 162.865 56.822 163.954 54.6436 164.05C48.6452 164.326 42.6367 164.679 36.6382 164.992C34.9637 165.075 34.1764 163.83 34.0798 162.308C33.7773 157.588 33.5611 152.861 33.5206 148.131C33.501 146.422 34.2959 144.967 36.1994 144.837C38.1691 144.706 39.0394 145.934 39.5182 148.039L39.5149 148.028Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M265.196 194.119C265.212 194.469 265.359 195.004 265.228 195.419C263.763 200.171 262.269 204.897 260.764 209.627C260.2 211.377 259.205 211.52 257.663 210.93C252.155 208.832 246.589 206.915 241.075 204.868C239.118 204.148 238.381 202.774 239.137 200.365C240.346 196.54 241.346 192.644 242.36 188.756C243.01 186.287 244.427 185.108 246.314 185.67C248.453 186.3 249.034 187.78 248.247 190.568C247.749 192.319 247.215 194.058 246.727 195.806C246.428 196.847 246.57 197.776 247.583 198.215C248.748 198.722 249.156 197.789 249.445 196.825C249.882 195.354 250.236 193.864 250.663 192.396C251.238 190.421 252.484 189.709 254.303 190.038C256.317 190.395 256.583 191.891 256.221 193.691C255.882 195.384 255.262 197.02 254.98 198.716C254.797 199.85 254.947 201.291 256.195 201.559C257.418 201.812 257.142 200.245 257.576 199.51C258.741 197.516 258.215 194.913 259.562 192.975C260.212 192.039 260.644 190.925 261.998 191.399C263.326 191.859 264.77 192.117 265.19 194.134L265.196 194.119Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M189.09 59.8948C187.524 59.4487 185.411 58.9813 183.398 58.2198C181.26 57.4061 179.122 56.5924 176.926 55.9957C174.227 55.2639 173.706 53.8358 174.58 50.8933C176.318 45.012 178.065 39.1271 179.525 33.1633C180.182 30.4592 181.645 30.3302 183.453 30.8844C187.049 32.0001 190.614 33.274 194.159 34.5552C197.221 35.6572 197.61 37.0478 196.089 40.116C195.294 41.7181 194.33 41.5917 193.028 41.1837C190.949 40.5323 189.032 39.1598 186.787 39.2186C186.108 39.2336 185.076 38.5433 184.881 39.9384C184.721 41.1495 185.291 41.959 186.374 42.2996C187.797 42.7488 189.201 43.3157 190.638 43.6618C192.887 44.2145 193.424 45.9558 192.944 48.031C192.468 50.1172 191.215 51.0281 189.163 50.0601C187.727 49.3825 186.204 48.9329 184.694 48.4907C183.79 48.232 182.868 48.3968 182.595 49.6C182.311 50.8436 183.275 50.97 184 51.2572C185.963 52.0369 187.942 52.7614 189.892 53.5705C190.822 53.9546 192.045 54.0601 191.812 55.7755C191.587 57.4393 191.431 59.1146 189.097 59.8801L189.09 59.8948Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M260.952 154.988C260.11 153.334 260.868 151.267 260.674 149.266C260.572 148.212 260.491 146.856 259.261 146.876C258.021 146.899 257.513 148.127 257.571 149.368C257.643 151.107 257.775 152.861 258.13 154.547C258.699 157.22 257.168 157.938 255.427 158.021C253.646 158.119 252.092 157.191 252.164 154.859C252.225 153.084 252.099 151.389 251.698 149.696C251.522 148.951 251.287 148.044 250.425 148.113C249.516 148.175 249.522 149.129 249.486 149.903C249.368 151.932 249.307 153.928 249.677 155.963C250.196 158.802 249.225 160.407 247.042 160.602C244.744 160.815 244.054 159.191 243.861 157.006C243.48 152.878 242.409 148.843 242.469 144.64C242.505 142.224 243.318 141.241 245.654 140.781C250.79 139.754 256.057 140.027 261.132 138.42C263.887 137.55 265.586 138.966 265.845 142.12C266.186 146.262 266.385 150.407 267.277 154.471C267.788 156.798 266.081 157.445 264.531 157.912C262.516 158.525 261.786 157.921 260.949 154.977L260.952 154.988Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M75.5945 57.8451C77.6041 56.879 78.5657 57.6316 79.2236 58.9241C80.0129 60.4751 80.2322 62.0012 78.735 63.3198C77.1679 64.7007 75.6734 66.1777 74.1591 67.6251C73.6333 68.1234 72.9648 68.6616 73.4054 69.5552C73.8986 70.5522 74.7285 70.2985 75.4791 69.9634C76.9438 69.2819 78.2339 68.3454 79.2343 66.9138C80.0579 65.7428 81.2139 65.174 82.4747 65.7439C83.6825 66.284 84.2643 67.5062 84.4375 68.951C84.5943 70.3405 84.2815 71.4477 83.0821 72.0937C81.7232 72.8347 80.5752 73.8787 79.7276 75.2669C79.2503 76.0417 78.0762 76.9972 79.1897 77.9274C80.0453 78.6573 81.3097 78.3432 82.0233 77.3227C83.1203 75.7701 84.4215 74.5352 85.8977 73.4817C87.364 72.4319 88.9126 71.5114 90.2403 73.5771C91.4395 75.4323 91.1942 77.0665 89.4443 78.5754C86.6265 80.9888 84.0065 83.6978 81.2118 86.1518C78.936 88.159 77.3653 87.9965 75.5859 85.3354C72.1786 80.2277 68.3122 75.545 64.7153 70.6168C63.8977 69.4929 64.2033 68.5109 64.8429 67.7627C68.2105 63.8123 72.2476 60.7457 75.5977 57.8561L75.5945 57.8451Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M121.145 60.8323C119.984 61.1948 118.898 61.6277 117.628 60.9141C114.376 59.0598 109.764 60.8527 108.257 64.6024C107.43 66.6574 106.033 67.7923 104.25 68.4427C102.328 69.144 101.181 68.14 101.23 65.9154C101.374 59.1568 101.497 52.4055 101.684 45.6434C101.804 41.2348 104.032 38.8406 107.344 39.6307C109.311 40.0899 110.39 42.136 111.774 43.5316C115.171 46.9633 118.362 50.6665 121.619 54.2595C121.992 54.6629 122.352 55.0956 122.665 55.5576C124.527 58.348 124.117 59.7605 121.145 60.8323Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M59.3371 88.1772C58.7969 86.4985 57.7159 85.7527 56.5419 85.0285C53.7376 83.3053 53.5796 80.5677 56.0287 78.3256C56.9936 77.4463 57.7928 77.3877 58.8239 78.1885C63.7315 82.0255 68.7124 85.7377 73.57 89.6297C75.143 90.8826 75.0964 92.5547 74.0311 94.4759C72.9558 96.4007 71.9132 96.7933 70.2808 95.4885C69.719 95.0437 69.0639 94.731 68.4487 94.367C65.7797 92.8028 64.95 93.0197 63.2483 95.737C61.2762 98.884 61.5129 100.208 64.4749 102.278C66.0914 103.417 67.7313 104.523 66.2987 107.068C64.7394 109.819 63.4352 110.148 60.9432 108.25C56.3659 104.746 51.862 101.117 47.2712 97.6425C44.9676 95.8961 45.797 94.11 46.9649 92.2372C48.1395 90.3498 49.5506 90.6441 51.028 91.7603C51.7518 92.3054 52.4589 92.8688 53.2162 93.3404C54.2017 93.9494 54.9702 95.7288 56.3443 94.5164C57.9014 93.1391 59.1814 91.4216 59.5091 89.0953C59.557 88.7345 59.3862 88.3432 59.3438 88.1625L59.3371 88.1772Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M139.109 167.45C137.968 163.588 136.767 159.747 135.705 155.856C134.869 152.801 135.452 152.049 139.094 150.819C141.232 150.1 142.657 150.218 143.357 153.186C144.55 158.232 146.138 163.157 147.583 168.122C148.519 171.324 149.756 172.038 152.723 171.029C154.812 170.328 156.854 169.473 158.935 168.787C161.458 167.952 162.986 168.792 163.683 171.26C164.47 174.075 163.78 175.773 161.277 176.674C156.566 178.393 151.796 179.949 147.182 182C144.977 182.976 143.456 182.048 142.72 179.557C141.513 175.511 140.329 171.467 139.133 167.417L139.113 167.424L139.109 167.45Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M170.413 151.866C171.175 154.445 171.967 157.013 172.699 159.602C173.372 162.029 174.851 162.814 176.939 162.15C179.12 161.465 181.278 160.666 183.429 159.881C185.929 158.969 187.263 159.598 188.22 162.203C189.25 165.015 188.922 166.446 186.356 167.469C181.351 169.466 176.262 171.175 171.17 172.911C169.517 173.477 168.493 172.33 167.946 170.74C165.171 162.581 162.682 154.307 160.432 145.945C160.219 145.152 160.133 144.374 160.626 143.728C161.966 141.952 163.937 141.564 165.804 141.386C167.489 141.225 167.73 143.049 168.149 144.392C168.915 146.871 169.621 149.372 170.353 151.851L170.393 151.837L170.413 151.866Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M228.475 102.251C226.813 96.6292 229.212 91.4142 235.146 87.974C237.775 86.4511 240.495 85.1276 243.183 83.7302C244.961 82.7998 246.428 83.0982 247.338 85.1692C248.228 87.1738 248.129 88.8162 246.108 90.0437C244.038 91.2895 242.056 92.6867 239.861 93.6592C238.572 94.2274 237.346 94.969 236.254 95.9802C234.507 97.6107 234.082 99.5682 235.353 101.63C236.575 103.599 238.488 103.686 240.272 102.741C243.332 101.11 246.313 99.2868 249.327 97.5375C251.098 96.5112 252.633 96.331 253.641 98.7709C254.748 101.432 254.39 102.948 252.16 104.289C249.169 106.079 246.07 107.651 243.03 109.312C236.707 112.746 230.653 109.659 228.478 102.262L228.475 102.251Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M147.844 27.638C150.686 26.503 152.42 27.2189 153.554 29.7478C154.839 32.6016 156.24 35.4007 157.132 38.4589C157.456 39.5545 157.892 40.7686 159.098 40.9293C160.44 41.1018 160.433 39.621 160.818 38.7573C162.095 35.9126 163.291 33.0122 164.526 30.1342C165.342 28.2302 168.677 26.7808 170.294 27.7356C171.713 28.5788 171.859 30.0088 171.237 31.4865C168.572 37.7794 165.911 44.0834 163.131 50.3205C162.322 52.1361 161.284 53.8143 158.931 53.4342C156.695 53.073 155.18 52.2035 154.269 49.6057C152.09 43.388 149.675 37.2686 147.146 31.2149C146.306 29.1921 146.559 28.1436 147.85 27.6601L147.844 27.638Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M60.911 179.54C61.5819 181.698 60.8385 183.514 58.8793 185.136C54.3421 188.9 49.9368 192.849 45.5117 196.768C44.2707 197.871 43.1541 199.357 41.4701 197.691C40.0832 196.321 39.8989 193.532 41.1257 191.858C43.0759 189.198 45.7319 187.432 48.0515 185.237C48.4475 184.859 48.9128 184.567 49.3056 184.179C49.8314 183.68 50.5694 183.19 50.4203 182.35C50.2615 181.439 49.3597 181.449 48.7006 181.31C45.9579 180.729 43.2187 180.122 40.4657 179.655C37.547 179.151 36.3521 177.87 35.8675 174.737C35.5802 172.831 36.233 172.09 37.9011 171.947C40.3154 171.753 42.5357 172.77 44.8346 173.231C48.8593 174.043 52.9179 174.671 56.9494 175.431C59.2617 175.863 60.0937 176.7 60.9077 179.529L60.911 179.54Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M132.647 169.835C133.762 173.608 134.9 177.386 135.996 181.167C136.937 184.465 136.458 185.792 134.07 186.749C130.776 188.074 129.098 187.398 128.054 184.015C126.66 179.522 125.223 175.032 124.177 170.448C123.444 167.221 122.041 164.3 121.294 161.103C120.633 158.267 121.263 157.301 124.59 156.125C127.588 155.068 128.392 155.4 129.246 158.214C130.421 162.077 131.532 165.95 132.677 169.824L132.667 169.827L132.647 169.835Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M124.247 118.1C125.497 122.327 126.673 126.569 128.018 130.749C128.719 132.933 128.1 134.312 126.339 135.224C125.555 135.632 124.699 135.871 123.882 136.206C122.056 136.97 120.911 136.383 120.293 134.254C117.962 126.253 115.531 118.288 113.216 110.268C112.301 107.096 112.972 105.968 115.93 104.963C118.609 104.059 120.444 105.081 121.252 107.888C122.236 111.293 123.26 114.684 124.261 118.07L124.241 118.077L124.247 118.1Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M46.5301 106.924C46.5494 107.064 46.7101 107.496 46.6093 107.827C45.4636 111.567 47.3814 112.829 50.1826 113.683C53.2751 114.627 56.2868 115.894 59.3424 116.974C61.3022 117.669 61.6475 119.174 61.053 121.082C60.455 123.017 59.6491 124.733 57.3053 123.896C54.1604 122.776 50.992 121.725 47.8572 120.563C44.1266 119.178 43.8879 119.192 42.1058 122.907C41.3937 124.38 40.6442 125.279 39.0363 124.468C37.478 123.676 35.7706 122.864 36.4499 120.495C37.8285 115.713 39.3925 110.999 40.8836 106.262C41.3067 104.931 42.0655 104.213 43.4539 104.393C44.8621 104.565 45.9906 105.061 46.5101 106.931L46.5301 106.924Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M227.983 67.5002C227.7 66.9905 227.374 66.521 227.164 65.9969C226.471 64.2511 226.418 62.6154 228.028 61.3784C229.554 60.1962 230.891 60.7628 231.98 62.0943C233.804 64.3099 235.569 66.5841 237.253 68.9242C238.183 70.2034 239.143 71.4348 240.166 72.6187C241.512 74.1872 241.455 76.0103 239.911 77.4318C238.523 78.7104 236.873 79.3615 235.611 77.3329C234.02 74.787 232.522 75.542 230.842 77.0991C228.176 79.5796 225.491 82.0304 222.776 84.4554C221.022 86.0268 219.394 86.2655 217.948 83.8382C216.703 81.7544 216.83 80.0532 218.981 78.4469C221.678 76.4455 223.903 73.8192 226.537 71.7548C227.891 70.6971 228.463 69.3112 227.993 67.4966L227.983 67.5002Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
    <path
      d="M254.314 169.7C256.276 169.021 258.491 170.469 259.177 172.904C259.779 175.014 258.562 177.615 256.679 178.265C254.887 178.883 252.37 177.386 251.857 175.39C251.237 172.956 252.342 170.383 254.314 169.7Z"
      fill="#383B21"
      fill-opacity="0.3"></path>
  </svg>
</section>
