---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
const pageTitle = "About Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>About Page</h1>
  <CTA />
</BaseLayout>
