---
import BaseLayout from "./layouts/BaseLayout.astro";
import Services from "./components/Services.astro";
import CTA from "./components/CTA.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Landing Page subtitle</h2>
  <Services />
  <CTA />
</BaseLayout>
