:root {
  --font-body: var(--font-sans);
  --font-heading: var(--font-serif);
  --font-accent: var(--font-script);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
}
