---
import { Image } from "astro:assets";
import aboutHeroImg from "../assets/about-hero-img.png";
---

<section class="about-hero-section">
  <Image
    class="hero-top-img"
    src={aboutHeroImg}
    alt="About hero img"
    width={390}
    height={330}
    sizes="(max-width: 768px) 390px, 700px"
  />
  <div class="hero-text-wrapper">
    <h1 class="about-hero-title">
      Hi, <span class="about-fancy">I'm Janet</span>
    </h1>
    <p class="about-skills">Branding &#183; Web Design &#183; Graphic Design</p>
    <p class="about-hero-description">
      With over 7 years of experience in building visual identities and
      designing for both print and digital platforms, and 4 years in web design,
      I’ve developed a deep appreciation for design’s ability to bridge gaps and
      foster connections. Whether I’m designing a logo or a website, my goal is
      to create solutions that not only align with a company’s mission and voice
      but also resonate with their audience on a meaningful level.
    </p>
  </div>
</section>
