---

---

<section class="featured-projects-section">
  <h3 class="featured-title">Featured Projects</h3>
  <div class="featured-projects-container">
    <div class="featured-project-card">
      <!-- IMG Here -->
      <p class="project-info"></p>
      <h4 class="project-title"></h4>
      <p class="project-desc"></p>
    </div>
    <div class="featured-project-card">
      <!-- IMG Here -->
      <p class="project-info"></p>
      <h4 class="project-title"></h4>
      <p class="project-desc"></p>
    </div>
    <div class="featured-project-card">
      <!-- IMG Here -->
      <p class="project-info"></p>
      <h4 class="project-title"></h4>
      <p class="project-desc"></p>
    </div>
    <a href="#" class="view-all-projects-btn">View All Projects</a>
  </div>
</section>
