---

---

<section class="contact-form-container">
  <h1 class="contact-form-title">Let's Collaborate</h1>
  <p class="contact-form-desc">
    Reach out to me by filling out the form below or by emailing me at:
    <a href="mailto:jmcdonald.designs@gmail.com" class="email-link"
      >jmcdonald.designs@gmail.com</a
    >
  </p>
  <form
    class="contact-form"
    name="contact"
    method="POST"
    action="/thankyou"
    data-netlify="true"
    netlify-honeypot="bot-field"
  >
    <input type="hidden" name="form-name" value="contact" />
    <input type="hidden" name="redirect" value="/thank-you" />
    <p hidden>
      <label>
        Don’t fill this out: <input name="bot-field" />
      </label>
    </p>

    <div class="form-row">
      <!-- NAME -->
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-wrapper">
          <input id="name" name="name" type="text" required />

          <span class="icon">
            <svg class="icon-check" viewBox="0 0 24 24">
              <path d="M20 6L9 17l-5-5"></path>
            </svg>
            <svg class="icon-x" viewBox="0 0 24 24">
              <path d="M6 6l12 12M6 18L18 6"></path>
            </svg>
          </span>
        </div>
        <span class="error"></span>
      </div>

      <!-- EMAIL -->
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-wrapper">
          <input id="email" name="email" type="email" required />

          <span class="icon">
            <svg class="icon-check" viewBox="0 0 24 24">
              <path d="M20 6L9 17l-5-5"></path>
            </svg>
            <svg class="icon-x" viewBox="0 0 24 24">
              <path d="M6 6l12 12M6 18L18 6"></path>
            </svg>
          </span>
        </div>
        <span class="error"></span>
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="form-group">
      <label for="message">Your Message</label>
      <div class="input-wrapper textarea-wrapper">
        <textarea id="message" name="message" rows="5" required></textarea>

        <span class="icon">
          <svg class="icon-check" viewBox="0 0 24 24">
            <path d="M20 6L9 17l-5-5"></path>
          </svg>
          <svg class="icon-x" viewBox="0 0 24 24">
            <path d="M6 6l12 12M6 18L18 6"></path>
          </svg>
        </span>
      </div>
      <span class="error"></span>
    </div>

    <button type="submit" class="form-contact-btn">Get in Touch</button>
  </form>

  <!-- <SuccessModal /> -->
  <script type="module" src="/src/scripts/form.js"></script>
</section>
