---

---

<section class="contact-form">
  <h1 class="contact-form-title">Let's Collaborate</h1>
  <p class="contact-form-desc">
    Reach out to me by filling out the form below or by emailing me at:
    <a href="mailto:jmcdonald.designs@gmail.com" class="email-link"
      >jmcdonald.designs@gmail.com</a
    >
  </p>
  <form action="#" class="contact-form"></form>
</section>
