---
import { Image } from "astro:assets";
import heroTop from "../assets/hero-placeholder-top.png";
import heroBottom from "../assets/hero-placeholder-bottom.png";
---

<section class="landing-hero-section">
  <Image
    class="hero-top-img"
    src={heroTop}
    alt="Landing Hero Top Img"
    width={390}
    height={330}
    sizes="(max-width: 768px) 390px, 700px"
  />
  <div class="landing-hero-wrapper">
    <h1 class="landing-hero-title">
      Design that helps your business stand out, connect, & grow
    </h1>
    <p class="landing-hero-desc">
      I can help your business turn ideas into a thoughtful brand identity and
      website that gets noticed, connects with the right audience, and supports
      where you want to go.
    </p>
    <a href="#" class="hero-contact-btn">Get In Touch</a>
  </div>
  <Image
    class="hero-top-img"
    src={heroBottom}
    alt="Landing Hero Bottom Img"
    width={390}
    height={330}
    sizes="(max-width: 768px) 390px, 700px"
  />
</section>
