---
import profile from "../assets/about-img.jpg";
import { Image } from "astro:assets";
---

<section class="learn-more">
  <div class="learn-more-img-container">
    <Image
      class="profile-img"
      src={profile}
      alt="Profile image"
      width={360}
      height={380}
      sizes="(max-width: 768px) 332px, 356px"
    />
  </div>
  <div class="learn-more-text-content">
    <h3 class="learn-more-title">
      Hi, <span class="fancy-font">I'm </span>Janet
    </h3>

    <p class="learn-more-desc">
      Ready to get started on your brand design? Have questions about which
      package would be the right fit for you? Send me a note! I can't wait to
      hear from you!
    </p>
    <a href="#" class="btn learn-more-btn">Get to know me</a>
  </div>
</section>
