---

---

<div id="success-modal" class="modal" aria-hidden="true">
  <div class="modal-content" role="dialog" aria-modal="true">
    <!-- Close Button -->
    <button id="close-modal" class="modal-close" aria-label="Close modal">
      ✕
    </button>

    <!-- Icon -->
    <div class="modal-icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="112"
        height="112"
        viewBox="0 0 112 112"
        fill="none"
        class="modal-icon"
      >
        <rect width="112" height="112" rx="56" fill="#418595"></rect>
        <path
          d="M81.1426 22.751C83.5704 22.9492 85.4348 24.9285 85.2334 27.3223C84.623 34.5434 83.988 41.7566 83.3809 48.9766C82.8727 55.036 82.3967 61.0874 81.8916 67.1484C81.3261 73.9199 80.7484 80.6887 80.167 87.46C79.9521 89.9518 77.3934 91.673 75.0244 90.8135C69.2095 88.704 63.4039 86.5652 57.6172 84.3789C57.1851 84.2165 56.8916 84.1684 56.6426 84.2207C56.3982 84.2721 56.1499 84.4297 55.8359 84.7871L55.8369 84.7881C53.6866 87.2523 51.4337 89.6308 49.209 92.0156C48.3828 92.8994 47.4333 93.3228 46.4951 93.2383C45.5581 93.1538 44.6922 92.5682 44.0195 91.5596C40.553 86.3706 37.1004 81.1797 33.6123 76.0078V76.0068C33.3671 75.6409 32.9506 75.2966 32.5508 75.1475H32.5498C26.8867 73.0194 21.21 70.9238 15.5273 68.8467C14.7805 68.5733 14.1335 68.2001 13.6504 67.6758C13.2246 67.2137 12.9359 66.6438 12.8135 65.9443L12.7705 65.6367C12.6876 64.7998 12.8435 64.0723 13.21 63.4521C13.5748 62.8349 14.1384 62.3406 14.8467 61.9502C15.3553 61.6676 15.8208 61.3571 16.3379 61.0479C37.1187 48.6096 57.8969 36.1685 78.6875 23.7461L78.6885 23.7451C79.0617 23.5235 79.461 23.3566 79.8564 23.207C80.2605 23.0542 80.6434 22.9254 81.0273 22.7686L81.083 22.7461L81.1426 22.751ZM47.8623 88.8613C49.7671 86.797 51.5662 84.8497 53.415 82.8486C51.2914 82.0656 49.2837 81.325 47.207 80.5576C47.4271 83.3344 47.6376 86.0153 47.8623 88.8613ZM81.6299 26.1631C81.3953 26.023 81.1996 26.0124 81.0088 26.0596C80.8001 26.1112 80.5933 26.2326 80.3398 26.3838L80.3389 26.3828L22.2559 61.1553C20.2736 62.3432 18.2856 63.5192 16.3262 64.7305H16.3252C16.2307 64.7883 16.1128 64.8993 16.0234 65.0225C15.9795 65.083 15.9481 65.14 15.9297 65.1865C15.9151 65.2233 15.9125 65.2435 15.9121 65.25C15.9206 65.3032 15.9682 65.3853 16.0938 65.5068C16.1522 65.5634 16.218 65.6199 16.2891 65.6807L16.501 65.8682L16.5029 65.8691C16.5094 65.8753 16.5285 65.8887 16.582 65.9082C16.608 65.9177 16.6354 65.9265 16.6699 65.9375C16.7016 65.9477 16.7396 65.9602 16.7773 65.9746L24.9902 69.0068C27.7277 70.0184 30.4649 71.0319 33.2012 72.0498C33.4628 72.147 33.6419 72.179 33.7959 72.1553C33.9442 72.1324 34.1068 72.0517 34.3193 71.8438C42.4975 63.7962 50.7016 55.7741 58.8984 47.7461C61.6672 45.0347 64.4281 42.3115 67.2109 39.6084C68.6171 38.2416 70.6271 38.3499 71.7627 39.8467L71.7637 39.8477C72.1717 40.3866 72.3731 40.9828 72.3496 41.6143C72.3261 42.2422 72.0809 42.8842 71.6348 43.5234V43.5244L53.6523 69.2275C51.7475 71.9514 49.8422 74.6748 47.8877 77.4717C47.999 77.5207 48.0915 77.5606 48.1865 77.5957C53.3616 79.5134 58.5394 81.4252 63.7148 83.3398C67.6986 84.8141 71.6795 86.2878 75.6631 87.7588L75.8379 87.8164C76.2299 87.9301 76.4981 87.8955 76.6729 87.7852C76.8717 87.6594 77.0309 87.3834 77.0742 86.8711H77.0752C77.1426 86.1019 77.2154 85.3402 77.2793 84.5713C77.6754 79.8397 78.0646 75.1064 78.4639 70.3711L79.6719 56.0947C80.0712 51.3365 80.4668 46.5771 80.8662 41.8154C81.2655 37.0289 81.6685 32.2455 82.0742 27.459C82.0998 27.157 82.1079 26.9047 82.0498 26.6895C81.9959 26.4896 81.8818 26.3122 81.6309 26.1641L81.6299 26.1631ZM36.2539 74.2959C39.0395 78.4665 41.788 82.5828 44.5352 86.6973C44.3529 84.2982 44.1991 81.906 43.96 79.5176C43.8534 78.4529 43.9899 77.5431 44.6523 76.6016C52.5063 65.4363 60.3236 54.2435 68.1494 43.0586C57.5241 53.4636 46.9006 63.8665 36.2539 74.2959Z"
          fill="#FCFBF9"
          stroke="#FCFBF9"
          stroke-width="0.5"></path>
      </svg>
    </div>

    <h2 class="modal-title">Message sent!</h2>
    <p class="modal-desc">Thanks for reaching out. I’ll be in touch soon!</p>
  </div>
</div>
